<!--<h1>Bem vindo ao CryptoFT</h1>

<div class="container">
  <div class="planets sun">
    <div class="one ring"></div>

    <div class="two">
      <div class="ring"></div>
      <div class="seven"></div>
    </div>

    <div class="three">
      <div class="ring"></div>
      <div class="four"></div>
    </div>

    <div class="three slow">
      <div class="ring"></div>
      <div class="five"></div>
    </div>
    <div class="three fast">
      <div class="ring"></div>
      <div class="six"></div>
    </div>
  </div>
</div>-->

<div class="crypto-info">
  <div class="column">
    <div class="section-header">Moeda em Destaque</div>
    <div class="info-item">Bitcoin (BTC) - $60,000</div>
    <div class="info-item">Exemplo 1</div>
    <div class="info-item">Exemplo 2</div>
  </div>

  <div class="column">
    <div class="section-header">Moeda com Maior Alta</div>
    <div class="info-item">Ethereum (ETH) - $2,500</div>
    <div class="info-item">Exemplo 3</div>
    <div class="info-item">Exemplo 4</div>
  </div>

  <div class="column">
    <div class="section-header">Moeda com Maior Volume</div>
    <div class="info-item">Binance Coin (BNB) - $500</div>
    <div class="info-item">Exemplo 5</div>
    <div class="info-item">Exemplo 6</div>
  </div>
</div>
<h1 class="h1">Aulas e Cursos</h1>
<div class="video-section">
  <div class="video-item">Video 1 (Exemplo)</div>
  <div class="video-item">Video 2 (Exemplo)</div>
  <div class="video-item">Video 3 (Exemplo)</div>
  <div class="video-item">Video 4 (Exemplo)</div>
  <div class="video-item">Video 5 (Exemplo)</div>
  <div class="video-item">Video 6 (Exemplo)</div>
</div>
<h1 class="h1">Informações e Noticias</h1>
<div class="news-section">
  <div class="news-item">Notícia 1 (Exemplo)</div>
  <div class="news-item">Notícia 2 (Exemplo)</div>
  <div class="news-item">Notícia 3 (Exemplo)</div>
  <div class="news-item">Notícia 4 (Exemplo)</div>
  <div class="news-item">Notícia 5 (Exemplo)</div>
  <div class="news-item">Notícia 6 (Exemplo)</div>
</div>