<mat-toolbar color="primary">
  <a>
    <i><img class="logo" src="../../../assets/img/logoSnome.png" alt="logo do site"></i>
  </a>
  <a class="navbar-text" [routerLink]="['/principal']">Home</a>
  <a class="navbar-text" [routerLink]="['/novidades']">Noticias</a>
  <a class="navbar-text" [routerLink]="['aulas']">Aulas</a>
  <span class="example-spacer"></span>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <i class="fa fa-user-circle mr-1"> </i>
        <a class="mr-1">{{ user.name }}</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
    <ng-template #login>
      <a class="navbar-text" [routerLink]="['/home']">Login</a>
      <a class="navbar-text" [routerLink]="['/perfil']">Perfil</a>
      </ng-template>
      </mat-toolbar>

