<div class="profile-form">
  <h2>Editar Perfil</h2>

  <label for="icon">Ícone:</label>
  <div class="icon-preview">
    <img src="../../../assets/img/home.png" alt="Ícone">
  </div>

  <label for="name">Nome:</label>
  <input type="text" id="name" name="name">

  <label for="bio">Biografia:</label>
  <textarea id="bio" name="bio"></textarea>

  <label for="password">Senha:</label>
  <input type="password" id="password" name="password">

  <h3>Aulas Assistidas:</h3>
  <div class="lessons-list">
  </div>
  <app-noticia></app-noticia>

  <button type="submit">Salvar</button>
</div>
