<form class="form mt-4" [formGroup]="resetSenhaForm" (submit)="redefinirSenha()">
  <h1>Alterar Senha</h1>
  <div class="form-group">
    <input placeholder="E-mail" class="form-control" formControlName="email" />
    <app-mensagem
      *ngIf="
        resetSenhaForm.get('email')?.errors?.required &&
        resetSenhaForm.get('email')?.touched
      "
      mensagem="E-mail obrigatório"
    >
    </app-mensagem>
    <app-mensagem
      *ngIf="
        resetSenhaForm.get('email')?.errors?.email &&
        resetSenhaForm.get('email')?.touched
      "
      mensagem="E-mail incorreto."
    >
    </app-mensagem>
  </div>

  <div class="form-group">
    <input
      type="password"
      placeholder="Senha"
      class="form-control"
      formControlName="password"
    />
    <div *ngIf="resetSenhaForm.get('password')?.invalid && resetSenhaForm.get('password')?.touched">
      <app-mensagem *ngIf="resetSenhaForm.get('password')?.errors?.required"
        mensagem="Senha é obrigatória."></app-mensagem>
      <app-mensagem *ngIf="resetSenhaForm.get('password')?.errors?.minlength"
        mensagem="Senha deve ter no mínimo 6 caracteres."></app-mensagem>
      <app-mensagem *ngIf="resetSenhaForm.get('password')?.errors?.maxlength"
        mensagem="Senha deve ter no máximo 20 caracteres."></app-mensagem>
      <app-mensagem *ngIf="resetSenhaForm.errors?.senhaIgualUsuario" mensagem="Senha deve ser diferente do usuário.">
      </app-mensagem>
      <app-mensagem *ngIf="resetSenhaForm.get('password')?.hasError('semCaracterEspecial')"
        mensagem="A senha deve conter pelo menos um caracter especial.">
      </app-mensagem>
      <app-mensagem *ngIf="resetSenhaForm.get('password')?.hasError('semLetraMaiuscula')"
        mensagem="A senha deve conter pelo menos uma letra maiúscula.">
      </app-mensagem>
      <app-mensagem *ngIf="resetSenhaForm.get('password')?.hasError('semNumero')"
        mensagem="A senha deve conter pelo menos um número.                              ">
      </app-mensagem>
      </div>
  </div>
  <div class="form-group">
    <input
      type="password"
      placeholder="Confirmar Senha"
      class="form-control"
      formControlName="repassword"
    />
    <app-mensagem *ngIf="resetSenhaForm.get('repassword')?.hasError('senhasDiferentes')"
      mensagem="As senhas devem ser iguais.">
    </app-mensagem>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="!resetSenhaForm.valid">Alterar</button>
</form>
