<form class="form mt-4" (ngSubmit)="login()" [formGroup]="loginForm">
  <mat-form-field class="example-full-width" style="width: 30vw;">
    <mat-label>Usuário</mat-label>
    <input matInput formControlName="userName" [errorStateMatcher]="matcher" placeholder="Siclano Beltrano"
      name="usuario">
    <mat-error *ngIf="loginForm.get('userName')?.errors?.required">
      Campo <strong>OBRIGATORIO</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" style="width: 30vw;">
    <mat-label>Senha</mat-label>
    <input type="password" matInput formControlName="senha" placeholder="**********" name="password">
    <mat-error *ngIf="loginForm.get('userName')?.errors?.required">
      Campo <strong>OBRIGATORIO</strong>
    </mat-error>
  </mat-form-field>

    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
      Logar
    </button>
  <p><span> Não é um usuário? <a [routerLink]="['novousuario']">Cadastre-se!</a></span></p>
</form>

